.stage {
    width: 200px;
    height: 200px;
    perspective: 1200px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    animation: rotateAnimation 15s ease;
    animation-iteration-count: infinite;
    /*animation-direction: normal;*/
    width: 100%;
    height: 100%;
    /*transform-origin: center center;*/
    /*transform: translate3d()*/
    /*transform: translate3d(-347px, 20px, 600px) rotateY(300deg)*/
}

.container img {
    width: 100%;
    height: 100%;
}

@keyframes rotateAnimation {
    0% {
        transform: translate3d(0px, 0px, 800px) rotateY(0deg);
        /*transform: translate3d(0px, 0px, 0px) rotateY(0deg)*/
    }
    16.67% {
        transform: translate3d(347px, 0px, 600px) rotateY(60deg)
    }
    33.33% {
        transform: translate3d(347px, 0px, 200px) rotateY(120deg)
    }
    50% {
        transform: translate3d(0px, 0px, 0px) rotateY(180deg)
    }
    66.67% {
        transform: translate3d(-347px, 0px, 200px) rotateY(240deg)
    }
    83.33% {
        transform: translate3d(-347px, 0px, 600px) rotateY(300deg)
    }
    100% {
        transform: translate3d(0px, 0px, 800px) rotateY(360deg)
    }
}

.item {
    transform: translateZ(0px);
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*opacity: .8;*/
}

.item1 {
    /*transform: translateZ(0px);*/
    /*opacity: .6;*/
}

.item2 {
    transform: translate3d(-347px, 0px, -200px) rotateY(-60deg);
}

.item3 {
    transform: translate3d(347px, 0px, -200px) rotateY(60deg);
}

.item4 {
    transform: translate3d(-347px, 0px, -600px) rotateY(-120deg);
}

.item5 {
    transform: translate3d(347px, 0px, -600px) rotateY(120deg);
}

.item6 {
    transform: translate3d(0px, 0px, -800px) rotateY(0deg);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.gray {
    background-color: gray;
}