.panel {
    border: 1px solid #aaa;
    margin: 5px;
}

input[name="panel"] {
    display: none;
}

.panel-body {
    display: none;
    transition: all .5 ease;
    padding: 10px;
    text-align: left;
}

.panel-heading {
    display: block;
    border-bottom: 1px solid #aaa;
    background: #ddd;
    padding: 10px;
}

input[name="panel"]:checked+.panel-body {
    display: block;
}